<div class="session-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <% if !resource.errors.include?(:name) %>
      <div class="session-form__rectangle">
        <%= f.text_field :name, autofocus: true, class: "session-form__field", placeholder: "Nombre" %>
      </div>
    <% else %>
      <div class="session-form__rectangle">
        <%= f.text_field :name, autofocus: true, class: "session-form__field session-form__field--danger", placeholder: "Nombre" %>
      </div>
      <div class="session-form__alert">
        <%= resource.errors.full_messages_for(:name).first %>
      </div>
    <% end %>
    <% if !resource.errors.include?(:region) %>
      <div class="session-form__rectangle">
        <%= f.collection_select :region_id, Region.all, :id, :name, class: "session-form__collection", prompt: "País"%>
      </div>
    <% else %>
      <div class="session-form__rectangle">
        <%= f.collection_select :region_id, Region.all, :id, :name, class: "session-form__collection session-form__collection--danger", prompt: "País"%>
      </div>
      <div class="session-form__alert">
        <%= resource.errors.full_messages_for(:region).first %>
      </div>
    <% end %>
    <% if !edit %>
      <% if !resource.errors.include?(:email) %>
        <div class="session-form__rectangle">
          <%= f.email_field :email, autocomplete: "email", class: "session-form__field", placeholder: "Correo"%>
        </div>
      <% else %>
        <div class="session-form__rectangle">
          <%= f.email_field :email, autocomplete: "email", class: "session-form__field session-form__field--danger", placeholder: "Correo"%>
        </div>
        <div class="session-form__alert">
          <%= resource.errors.full_messages_for(:email).first %>
        </div>
      <% end %>
    <% end %>
    <% if edit %>
      <div class="session-form__message">(Necesitamos tu contraseña actual para confirmar los cambios)</div>
      <% if !resource.errors.include?(:current_password) %>
        <div class="session-form__rectangle">
          <%= f.password_field :current_password, autocomplete: "current-password", class: "session-form__field", placeholder: "Contraseña actual" %>
        </div>
      <% else %>
        <div class="session-form__rectangle">
          <%= f.password_field :current_password, autocomplete: "off", class: "session-form__field session-form__field--danger", placeholder: "Contraseña (mínimo 6 caracteres)" %>
        </div>
        <div class="session-form__alert">
          <%= resource.errors.full_messages_for(:current_password).first %>
        </div>  
      <% end %>
      <%= f.submit "Guardar", class: "session-form__btn" %>
    <% else %>
      <% if !resource.errors.include?(:password) %>
        <div class="session-form__rectangle">
          <%= f.password_field :password, autocomplete: "off", class: "session-form__field", placeholder: "Contraseña (mínimo 6 caracteres)" %>
        </div>
      <% else %>
        <div class="session-form__rectangle">
          <%= f.password_field :password, autocomplete: "off", class: "session-form__field session-form__field--danger", placeholder: "Contraseña (mínimo 6 caracteres)" %>
        </div>
        <div class="session-form__alert">
          <%= resource.errors.full_messages_for(:password).first %>
        </div>
      <% end %>
      <% if !resource.errors.include?(:password_confirmation) %>
        <div class="session-form__rectangle">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "session-form__field", placeholder: "Confirmar contraseña" %>
        </div>
      <% else %>
        <div class="session-form__rectangle">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "session-form__field session-form__field--danger", placeholder: "Confirmar contraseña" %>
        </div>
        <div class="session-form__alert">
          <%= resource.errors.full_messages_for(:password_confirmation).first %>
        </div>
      <% end %>
      <div><%= f.submit "Registrarse", class: "session-form__btn" %></div>
    <% end %>
  <% end %>
</div>
