<div class="session-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="session-form__rectangle">
      <%= f.text_field :name, autofocus: true, class:html_error_class('session-form__field', 'name'), placeholder: "Nombre tienda" %>
    </div>
    <div class="session-form__alert">
      <%= resource.errors.full_messages_for(:name).first %>
    </div>
    <% if !edit %>
      <%= f.hidden_field :region_id, value: default_region %>
      <div class="session-form__rectangle">
        <%= f.email_field :email, autocomplete: "email", class:html_error_class('session-form__field', 'email'), placeholder: "Correo"%>
      </div>
      <div class="session-form__alert">
        <%= resource.errors.full_messages_for(:email).first %>
      </div>
    <% end %>
    <% if edit %>
      <div class="session-form__message">(Necesitamos tu contraseña actual para confirmar los cambios)</div>
      <div class="session-form__rectangle">
        <%= f.password_field :current_password, autocomplete: "current-password", class:html_error_class('session-form__field', 'current_password'), placeholder: "Contraseña actual" %>
      </div>
      <div class="session-form__alert">
        <%= resource.errors.full_messages_for(:current_password).first %>
      </div>
      <%= f.submit "Guardar", class: "session-form__btn" %>
    <% else %>
      <div class="session-form__rectangle">
        <%= f.password_field :password, autocomplete: "off", class:html_error_class('session-form__field', 'password'), placeholder: "Contraseña (mínimo 6 caracteres)" %>
      </div>
      <div class="session-form__alert">
        <%= resource.errors.full_messages_for(:password).first %>
      </div>
      <div class="session-form__rectangle">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: html_error_class('session-form__field', 'password_confirmation'), placeholder: "Confirmar contraseña" %>
      </div>
      <div class="session-form__alert">
        <%= resource.errors.full_messages_for(:password_confirmation).first %>
      </div>
      <div><%= f.submit "Registrarse", class: "session-form__btn" %></div>
    <% end %>
  <% end %>
</div>
