<div class="registration-container">
  <div class="session-title">Editar Información</div>
  <div class="session-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="session-form__rectangle">
        <%= f.text_field :name, autofocus: true, class: "session-form__field", placeholder: "Nombre" %>
      </div>
      <div class="session-form__rectangle">
        <%= f.collection_select :region_id, Region.all, :id, :name, class: "session-form__collection", prompt: "País"%>
      </div>
      <div class="session-form__rectangle">
        <%= f.email_field :email, autocomplete: "email", class: "session-form__field", placeholder: "Correo"%>
      </div>
      <div class="session-form__message">(Dejar en blanco si no se quiere cambiar)</div>
      <div class="session-form__rectangle">
        <%= f.password_field :password, autocomplete: "new-password", class: "session-form__field", placeholder: "Contraseña (mínimo 6 caracteres)" %>
      </div>
      <div class="session-form__rectangle">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "session-form__field", placeholder: "Confirmar contraseña" %>
      </div>
      <div class="session-form__message">(Necesitamos tu contraseña actual para confirmar los cambios)</div>
      <div class="session-form__rectangle">
        <%= f.password_field :current_password, autocomplete: "current-password", class: "session-form__field", placeholder: "Contraseña actual" %>
      </div>
      <div><%= f.submit "Guardar", class: "session-form__btn" %></div>
      <%= button_to "Borrar Tienda", registration_path(resource_name), class: "session-form__btn session-form__btn--danger", data: { confirm: "¿Estás seguro?" }, method: :delete %>
    <% end %>
  </div>
</div>
