<div class="header">
  <div class="header__link">
    <%= link_to "¿Tienes una tienda?", store_login_path %>
  </div>
</div>
<div class="hero-container">
  <div class="hero-container__title">Gifts Shop</div>
  <div class="hero-container__subtitle">Se acabaron los dolores de cabeza buscando regalos!</div>
</div>
<div class="prompt-container">
  <div class="prompt">
    <h3 class="prompt__text">Dale un nombre a tu regalado</h3>
    <%= form_tag({controller: "landing", action: "search"}, method: "post", autocomplete: "off") do |f| %>
      <div><%= text_field_tag :name, "", class: "prompt__input" %></div>
      <div><%= submit_tag "Empezar", class: "prompt__btn" %></div>
    <% end %>
  </div>
</div>
<div class="footer-container">
  <div class="footer">
    <div class="footer__link">
      <%= link_to "Saltar", home_show_path %>
    </div>
  </div>
</div>