<div class="login-container">
  <div class="login-title">Inicia sesión</div>
  <div class="login-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="login-form__field">
          <%= f.label :Correo %><br />
          <%= f.email_field :email, autocomplete: "email" %>
        </div>
        <div class="login-form__field">
          <%= f.label :Contraseña %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <div><%= submit_tag "Iniciar Sesión", class: "btn login-form__btn" %></div>
      <% end %>
  </div>
</div>
<div class="nav-container">
  <%= render "stores/shared/links" %>
</div>
