<div class="header">
  <div class="header__link">
    <%= link_to "¿Tienes una tienda?", store_login_path %>
  </div>
</div>
<div class="mission-container"> 
  <div class="mission">
    <% if @receiver.name.present? %>
      <h1 class="mission__title"> Recomendaciones para <span class="mission__receiver"><%=  @receiver.name %></span></h1>
    <% else %>
      <h1 class="mission__title"> Regalos recomendados</h1>
    <% end %>
  </div>
</div>

<div class="gifts-container">
  <% @products.each do |product| %>
    <div class="gift">
      <div class="gift__title"><%= product.name %></div>
      <div><%= image_tag(url_for(product.image), :class => "gift__image") %></div>
      <div class="gift__bottom">
        <div class="gift__store"><%= product.store.name %></div>
        <div class="gift__price">$<%= product.price %></div>
      </div>
    </div>
  <% end %>
</div>
