 <div class="header-container"> 
  <div class="header">
    <% if @receiver_name.present? %>
      <h1 class="header__title"> Recomendaciones para <span class="header__receiver-name"><%=  @receiver_name %></span></h1>
    <% else %>
      <h1 class="header__title"> Regalos recomendados</h1>
    <% end %>
  </div>
</div>

<div class="gifts-container">
  <% @products.each do |product| %>
    <div class="gift">
      <div class="gift__title"><%= product.name %></div>
      <div><%= image_tag(url_for(product.image), :class => "gift__image") %></div>
      <div class="gift__bottom">
        <div class="gift__store"><%= product.store.name %></div>
        <div class="gift__price">$<%= product.price %></div>
      </div>
    </div>
  <% end %>
</div>
