<%= render "stores/shared/store_header" %>
<div class="info-container">
  <div class="catalog-left">
    <div class="catalog-title">Productos</div>
    <%= button_to "Agregar producto",  new_stores_catalog_path, class: "btn new-product-btn", method: :get %>
  </div>
</div>
<div class="catalog-body">
  <div class="catalog-container">
    <table class="catalog">
      <thead class="catalog-header-container">
        <tr class="catalog-header">
          <th class="catalog-header__label row-label row-label--medium">FOTO</th>
          <th class="catalog-header__label row-label row-label--big">NOMBRE</th>
          <th class="catalog-header__label row-label row-label--medium">PRECIO</th>
          <th class="catalog-header__label row-label row-label--medium">CLICKS</th>
          <th class="catalog-header__label row-label row-label--medium">LIKES</th>
          <th class="catalog-header__label row-label row-label--small">MOSTRAR</th>
          <th class="catalog-header__label row-label row-label--medium">
            <div class="links-container">
              <%= link_to "PROMOCIONAR", stores_payments_about_path, class: "catalog-header__link" %>
              <%= link_to image_tag('help_icon.svg', class:"catalog-header__icon"),  stores_payments_about_path, class:"catalog-header__link" %>
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="product-container">
        <% @products.each do |product| %>
          <tr class="product">
            <td class="product__image row-label row-label--medium">
              <div class="black-container">
                <%= link_to image_tag(product.image.variant(resize: "128x128").processed, class: 'product__image__square'), edit_stores_catalog_path(product) %>
              </div>
            </td>
            <td class="product__label row-label row-label--big"><%= link_to product.name, edit_stores_catalog_path(product), class: "label-link" %></td>
            <td class="product__label row-label row-label--medium">$<%= product.price.round(0) %></td>
            <td class="product__label row-label row-label--medium"><%= product.product_actions.display.count %></td>
            <td class="product__label row-label row-label--medium"><%= product.product_actions.like.count %></td>
            <td class="product__toggle row-label--small">
              <toggle-button 
                :value=<%= product.display %>
                product-id=<%= product.id %>
                attribute='display'
              >
              </toggle-button>
            </td>
            <td class="product__toggle row-label--medium">
              <toggle-button
                :value=<%= product.promoted %>
                product-id=<%= product.id %>
                attribute='promoted'
              >
              </toggle-button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
