<%= render "stores/shared/store_header" %>
<div class="info-container">
  <div class="catalog-left">
    <div class="catalog-title">Productos</div>
    <%= button_to "Agregar producto",  new_stores_catalog_path, class: "btn new-product-btn", method: :get %>
  </div>
  <div class="catalog-right">
    <balance-warning
      :store-id=<%= current_store.id %>
    >
    </balance-warning>
  </div>
</div>
<div class="catalog-body">
  <div class="catalog-container">
    <table class="catalog">
      <thead class="catalog-header-container">
        <tr class="catalog-header">
          <th class="catalog-header__label row-label row-label--medium">FOTO</th>
          <th class="catalog-header__label row-label row-label--big">NOMBRE</th>
          <th class="catalog-header__label row-label row-label--medium">PRECIO</th>
          <th class="catalog-header__label row-label row-label--medium">CLICKS</th>
          <th class="catalog-header__label row-label row-label--medium">LIKES</th>
          <th class="catalog-header__label row-label row-label--medium">STATUS</th>
        </tr>
      </thead>
      <tbody class="product-container">
        <% @products.each do |product| %>
          <tr class="product">
            <td class="product__image row-label row-label--medium">
              <div class="<%= catalog_error_class("black-container", product.image.attached?) %>">
                <% if product.image.attached? %>
                  <%= link_to image_tag(product.image.variant(resize: "128x128").processed, class: 'product__image__square'), edit_stores_catalog_path(product) %>
                <% else %>
                  <%= link_to image_tag("default-gift.png", class: 'product__image__square product__image__square--error'), edit_stores_catalog_path(product) %>
                <% end %>
              </div>
            </td>
            <td class="product__label row-label row-label--big"><%= link_to product.name, edit_stores_catalog_path(product), class: catalog_error_class("label-link", product.image.attached? ) %></td>
            <td class="<%= catalog_error_class("product__label", product.image.attached?) %> row-label row-label--medium">$<%= product.price.round(0) %></td>
            <td class="<%= catalog_error_class("product__label", product.image.attached?) %> row-label row-label--medium"><%= product.product_actions.display.count %></td>
            <td class="<%= catalog_error_class("product__label", product.image.attached?) %> row-label row-label--medium"><%= product.product_actions.like.count %></td>
            <td class="<%= catalog_error_class("product__label", product.image.attached?) %> row-label row-label--medium"><%= I18n.t("activerecord.attributes.product.status.#{product.status}") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
