<div class="header">
  <div class="header__link">
    <%= link_to "Cerrar Sesión", sign_out_path %>
  </div>
</div>
<div class="catalog-body">
  <div class="info-container">
    <div class="catalog-left">
      <div class="catalog-title">Productos</div>
      <%= button_to "Agregar producto",  new_stores_catalog_path, class: "new-product-btn", method: :get %>
    </div>
    <div class="store-balance">Créditos <%= @balance %></div>
  </div>
  <div class="catalog-container">
    <table class="catalog">
      <thead class="catalog-header-container">
        <tr class="catalog-header">
          <th class="catalog-header__label row-label__small">Mostrar</th>
          <th class="catalog-header__label row-label__big">Nombre</th>
          <th class="catalog-header__label row-label__medium">Precio</th>
          <th class="catalog-header__label row-label__medium">Vistas</th>
          <th class="catalog-header__label row-label__medium">Foto</th>
        </tr>
      </thead>
      <tbody class="product-container">
        <% @products.each do |product| %>
          <tr class="product">
            <td class="product__toggle row-label__small">
              <toggle-display v-bind:value=<%= product.display %>></toggle-display>
            </td>
            <td class="product__label row-label__big"><%= product.name %></td>
            <td class="product__label row-label__medium">$<%= product.price %></td>
            <td class="product__label row-label__medium"><%= product.clicks %></td>
            <td class="product__image row-label__medium"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
