<div class="header">
  <div class="header__link">
    <%= link_to "Cerrar Sesión", sign_out_path %>
  </div>
</div>
<div class="info-container">
  <div class="store-name"><%=current_store.name %></div>
  <div class="store-balance">Balance <%=current_store.balance %></div>
</div>
<div class="catalog-container">
  <div class="catalog-top">
    <div class="catalog-title">Productos</div>
    <%= button_to "Agregar producto",stores_catalog_new_path, class: "new-product-btn"  %>
  </div>
  <table class="catalog">
    <thead class="catalog-header-container">
      <tr class="catalog-header">
        <th class="catalog-header__label">Nombre</th>
        <th class="catalog-header__label">Precio</th>
        <th class="catalog-header__label">Visitas</th>
      </tr>
    </thead>
    <tbody class="catalog-body">
      <% @products.each do |product| %>
        <tr class="product">
          <td class="product__label"><%= product.name %></td>
          <td class="product__label"><%= product.price %></td>
          <td class="product__label"><%= product.clicks %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
