<div class="header">
  <div class="header__link">
    <%= link_to "Cerrar Sesión", sign_out_path %>
  </div>
</div>
<div class="info-container">
  <div class="store-name"><%= current_store.name %></div>
  <div class="store-balance">
    Balance <%= current_store.balance %>
  </div>
</div>
<div class="catalog-title">Tus productos</div>
<table class="catalog-container">
  <thead class="catalog-header">
    <tr>
      <th>
        <h1 class="catalog-header__title">Nombre producto</h1>
      </th>
      <th>
        <h1 class="catalog-header__title">Precio</h1>
      </th>
      <th>
        <h1 class="catalog-header__title">Visitas</h1>
      </th>
    </tr>
  </thead>
  <tbody class="product">
    <% @products.each do |product| %>
      <tr class="product__subtitle"><%= product.name %></tr>
      <tr class="product__subtitle"><%= product.price %></tr>
      <tr class="product__subtitle"><%= product.clicks %></tr>
    <% end %>
  </tbody>
</table>
