<div class="header">
  <div class="header__link">
    <%= link_to "Cerrar Sesión", sign_out_path %>
  </div>
</div>
<div class="info-container">
  <div class="store-name"><%= current_store.name %></div>
  <div class="store-balance">
    Balance <%= current_store.balance %>
  </div>
</div>
<div class="catalog-title">Tus productos</div>
<table class="catalog-container">
  <thead class="catalog-header">
    <tr>
      <th>
        <h1 class="catalog-header__label">Nombre producto</h1>
      </th>
      <th>
        <h1 class="catalog-header__label">Precio</h1>
      </th>
      <th>
        <h1 class="catalog-header__label">Visitas</h1>
      </th>
    </tr>
  </thead>
  <tbody class="catalog-list">
    <% @products.each do |product| %>
      <tr class="product">
        <td class="product__label"><%= product.name %></td>
        <td class="product__label"><%= product.price %></td>
        <td class="product__label"><%= product.clicks %></td>
      </tr>
    <% end %>
  </tbody>
</table>
